    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .clear {
        overflow: auto;
    }
    
    html {
        scroll-behavior: smooth;
        font-family: Verdana, sans-serif;
    }
    
    #main {}
    
    .col-full {
        width: 100%;
    }
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    
    .row::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .col {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .col-third {
        width: 33.3333%;
    }
    
    .col-half {
        width: 50%;
    }
    
    .text-center {
        align-items: center;
    }
    
    .mt-8 {
        margin-top: 8px;
    }
    
    .mt-16 {
        margin-top: 16px;
    }
    
    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 46px;
        background-color: #333;
        z-index: 1;
    }
    
    #nav,
    .sub-nav {
        list-style-type: none;
    }
    
    #nav {
        display: flex;
    }
    
    #nav>li {
        display: inline-block;
    }
    
    #nav li {}
    
    #nav>li>a {
        color: #fff;
        text-transform: uppercase;
    }
    
    #nav li a {
        text-decoration: none;
        padding: 0 24px;
        display: block;
        line-height: 46px;
    }
    
    #nav>li:hover>a,
    #nav .sub-nav li:hover {
        color: #000;
        background-color: #ccc;
    }
    
    #nav li:hover .sub-nav {
        display: block;
    }
    
    #nav .sub-nav {
        display: none;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    #nav .sub-nav a {
        color: #000;
        line-height: 38px;
    }
    
    #header .mobile-menu-btn,
    #header .search-btn {
        float: right;
        padding: 0 21px;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .search-btn:hover {
        background-color: #f44336;
        cursor: pointer;
    }
    
    #header .mobile-menu-btn {
        display: none;
    }
    
    .mobile-menu-btn:hover {
        background-color: #ccc;
    }
    
    .mobile-menu-btn:hover .menu-icon {
        color: #000;
    }
    
    #header .menu-icon,
    #header .search-icon {
        font-size: 22px;
        line-height: 46px;
        color: #fff;
    }
    
    #slider {
        position: relative;
        margin-top: 46px;
        padding-top: 50%;
        background: url("../img/la.jpg") top center / cover no-repeat;
    }
    
    #slider .text-content {
        position: absolute;
        color: #fff;
        bottom: 47px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
    #slider .text-heading {
        font-weight: 500;
        font-size: 24px;
    }
    
    #slider .text-description {
        font-size: 15px;
        margin-top: 25px;
    }
    
    #content {}
    
    #content .content-section {
        width: 800px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 16px;
    }
    
    #content .section-heading {
        margin: 10px 0;
        height: 45px;
        font-weight: 400;
        text-align: center;
        font-size: 30px;
        letter-spacing: 4px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #content .section-sub-heading {
        font-size: 15px;
        font-family: sans-serif;
        text-align: center;
        font-style: italic;
        opacity: 0.6;
    }
    
    #content .text-content {
        margin: 15px 0;
        text-align: justify;
        font-size: 15px;
        font-family: sans-serif;
        line-height: 1.4;
    }
    
    #content .members-list {
        padding: 32px 0;
        display: flex;
    }
    
    #content .member-list {
        width: 33.333%;
        text-align: center;
    }
    
    #content .members-list .name-member {
        margin: 15px 0;
        font-size: 15px;
        font-family: sans-serif;
    }
    
    #content .members-list .img-member {
        margin-bottom: 15px;
        width: 154px;
        border-radius: 2.4%;
    }
    
    #content .tour-section {
        background-color: #000;
        color: #fff;
    }
    
    #content .tour-section ul {
        background-color: #fff;
        color: #333;
        margin-top: 40px;
    }
    
    .tickets-list {
        list-style: none;
    }
    
    .tickets-list li {
        color: #757575;
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
    }
    
    .tickets-list .sold-out {
        background-color: red;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;
    }
    
    .tickets-list .quantity {
        float: right;
        padding: 0 8px;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        margin-right: 16px;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        margin-top: -3px;
    }
    
    .places-list {
        display: flex;
        margin-top: 16px;
        padding-bottom: 48px;
    }
    
    .place-item {
        width: calc(100% / 3);
        padding: 0 8px;
        font-size: 15px;
        color: #000;
    }
    
    .place-body {
        padding: 16px;
        background-color: #fff;
    }
    
    .img-place {
        width: 100%;
        display: block;
    }
    
    .img-place:hover {
        opacity: 0.6;
    }
    
    .place-heading {
        font-size: 15px;
        font-weight: 550;
    }
    
    .place-time {
        margin-top: 15px;
        color: #757575;
    }
    
    .place-desc {
        margin-top: 15px;
        line-height: 1.4;
    }
    
    .place-buy-btn {
        text-decoration: none;
        background-color: #000;
        color: #fff;
        padding: 11px 16px;
        display: inline-block;
        margin-top: 15px;
        text-align: center;
    }
    
    .place-buy-btn:hover {
        background-color: #ccc;
        color: #000;
    }
    
    .modal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
    }
    
    .modal-container {
        position: relative;
        width: 900px;
        min-height: 200px;
        background-color: #fff;
        animation: modalFadeIn ease .4s;
    }
    
    .modal-header {
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #009688;
        height: 130px;
    }
    
    .modal-heading-icon {
        margin-right: 16px;
    }
    
    .model-close {
        position: absolute;
        padding: 8px 16px;
        right: 0;
        cursor: pointer;
        color: #fff;
    }
    
    .model-close:hover {
        background-color: #ccc;
        color: #000;
    }
    
    .modal-body {
        padding: 8px 16px;
    }
    
    .modal-label {
        margin-bottom: 10px;
        display: block;
    }
    
    .modal-input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    #buy-tickets {
        width: 100%;
        background-color: #009688;
        padding: 16px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    #buy-tickets:hover {
        color: #000;
        background-color: #ccc;
    }
    
    .modal-footer {
        padding: 16px;
        text-align: right;
    }
    
    .modal-footer a {
        color: #2196F3;
    }
    
    .modal.open {
        display: flex;
    }
    
    @keyframes modalFadeIn {
        from {
            transform: translateY(-150px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .contact-content {
        margin-top: 48px;
        margin-bottom: 32px;
    }
    
    .contact-info {
        font-size: 18px;
        line-height: 1.6;
    }
    
    .contact-info i[class*="ti-"] {
        width: 30px;
        display: inline-block;
    }
    
    .contact-form {
        font-size: 15px;
        padding: 0 0 32px 0;
    }
    
    .contact-form .form-control {
        padding: 10.5px;
        border: 1px solid #ccc;
        width: 100%;
        outline-color: none;
    }
    
    .contact-form .form-submit {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        padding: 10px 16px;
        float: right;
        cursor: pointer;
    }
    
    .contact-form .form-submit:hover {
        background-color: #ccc;
        color: #000;
    }
    
    .map-section {
        margin-top: 16px;
    }
    
    .map-section img {
        width: 100%;
    }
    
    #footer {
        padding: 64px 16px;
        text-align: center;
    }
    
    #footer .socials-list {
        font-size: 24px;
    }
    
    #footer .copyright {
        font-size: 14px;
        line-height: 1.4;
        margin: 15px 0;
        color: rgba(0, 0, 0, 0.6);
    }
    
    #footer .copyright a {
        color: rgba(0, 0, 0, 0.6);
    }
    
    #footer .socials-list a {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }
    
    #footer .socials-list a:hover {
        color: rgba(0, 0, 0, 0.4);
        cursor: default;
    }